@model OtoServisSatis.Entities.Marka

@{
    ViewData["Title"] = "Marka Oluşturma";
}

<h1>Marka Ekleme Sayfası</h1>

<div class="row">
    <div class="col col-md-4">
        <form asp-action="Create" method="post">
            <div class="form-group">
            <label asp-for="Adi" class="control-label">Ad</label>
            <input asp-for="Adi" class="form-control" />
            <span asp-validation-for="Adi" class="text-danger"></span>
            <input class="btn btn-primary my-2" type="submit" value="Ekle" />
            </div>
        </form>
    </div>
</div>