@model IEnumerable<OtoServisSatis.Entities.Marka>

@{
    ViewData["Title"] = "Marla Listeleme";
}

<h1 class="my-2">Markaları Listeme Sayfası</h1>

<p>
    <a class="btn btn-primary my-2" asp-action="Create">Marka Ekle</a>
</p>


<table class="table table-hover">
    <thead>
        <tr>
            <th>Adı</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Adi</td>
                <td>
                    <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id">Düzenle</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>

