@model OtoServisSatis.Entities.Musteri

@{
    ViewData["Ttile"] = "Musteri Ekleme";
}

<h1>Müşteri Ekleme Sayfası</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div>
                <label asp-for="AracId"></label>
                <select asp-for="AracId" class="form-select" asp-items="ViewBag.AracId"> </select>
            </div>
            <div>
                <label asp-for="Adi"></label>
                <input asp-for="Adi" class="form-control" />
                <span asp-validation-for="Adi" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Soyadi"></label>
                <input asp-for="Soyadi" class="form-control" />
                <span asp-validation-for="Soyadi" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="TcNo"></label>
                <input asp-for="TcNo" class="form-control" />
                <span asp-validation-for="TcNo" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Adres"></label>
                <input asp-for="Adres" class="form-control" />
                <span asp-validation-for="Adres" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Telefon"></label>
                <input asp-for="Telefon" class="form-control" />
                <span asp-validation-for="Telefon" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Notlar"></label>
                <input asp-for="Notlar" class="form-control" />
                <span asp-validation-for="Notlar" class="text-danger"></span>
            </div>
            <input class="btn btn-primary my-2" type="submit" value="Ekle" />
        </form>
    </div>

</div>